<footer class="footer-fixed">
  <div class="mtop">
    <div class="col-sm-4 text-center tab">
      <h4 class="mtop">Location</h4>
      <ul>
        <li><i class="fa fa-location-arrow" aria-hidden="true"></i> 9878/25 sec 9 rohini 35</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> +91-9999878398</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i> info@example.com</li>
      </ul>
    </div>
    <div class="col-sm-4 text-center border-left-right tab" >
      <h4>Quick Links</h4>
      <ul>
        <li>Image Rectoucing</li>
        <li>Clipping Path</li>
        <li>Hollow Man Montage</li>
        <li>Ebay & Amazon</li>
        <li>Hair Masking/Clipping</li>
        <li>Image Cropping</li>
      </ul>
    </div>
    <div class="col-sm-4 text-center tab">
      <h4 class="">Find Us</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="col-sm-12 text-center border-top">
      <p>Copyright @2017 | Designed With by Your Company Name</p>
      <ul class="social-share">
        <li><a><i class="fab fa-facebook-f"></i></a></li>
        <li><a><i class="fab fa-twitter"></i></a></li>
        <li><a><i class="fab fa-instagram"></i> </a></li>
        <li><a><i class="fa fa-rss"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
